// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides (though functions won't be available)

$primary: #57CC99;
$secondary: #C7F9CC;
$tertiary: #80ED99;
$dark: #38A3A5;
$black: #251F47;

$font-family-sans-serif: "Martian Mono", sans-serif !default; 
$font-family-serif: "Magra", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional code here